.header{
  background: #FDF8F5;
}

.logo {
  float: left;
  width: 120px;
  height: 30px;
  margin: 16px 24px 16px 0;
  background: #FDF8F5;
}

.content {
  display: flex;
  align-items: center;
  padding: 0 50px;
  min-height: calc(100vh - 64px - 70px);
  background: #E8CEBF
}

.shortner {
  width: 100%;
  background: #FDF8F5;
  padding: 24px 20px;
}

.linkField {
  display: flex;
  width: 100%;
}

.linkFieldInput {
  flex: 100%;
  margin-right: 5px;
}

.linkFieldButton {
  width: 120px;
  color: #266150;
  border-color: #266150;
}

.footer {
  text-align: center;
  background-color: #FDF8F5;
  color: #4F4846
}
